table th,
table td {
  font-size: 14px;
}

table td {
  font-size: 14px;
  font-weight: 400;
}

table tr.clickable-row:hover{
  cursor: pointer;
  background-color: #F4F8FA;
}

input:disabled, button:disabled, select:disabled {
  opacity: 0.5;
}

.no-table-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  border-top: 1px solid #e8eaed;
  /* background-color: rgb(224, 224, 224); */
  padding: 40px;
  min-height: 200px;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}